__pycache__/
Machine Learning Operations/Machine Learning Operations Steam/Funciones_API.ipynb
Machine Learning Operations/Machine Learning Operations Steam/Machine Learning Operations PI.pdf
Machine Learning Operations/Machine Learning Operations Steam/steam_games.json
Machine Learning Operations/Machine Learning Operations Steam/steam_games.csv
venv/